<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>NetworkState</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>com.tjluoma.keeprunning.mail</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Mail.app/Contents/MacOS/Mail</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
